@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

td {
    width: 230px
}

.bb {
    border-bottom: 1px solid black;
}

.br {
    border-right: 1px solid black;
}

.monospaceFont {
    font-family: 'Source Code Pro', monospace;
}